<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="premiere" routerLink="/premiere" >
      <ion-icon name="film-outline"></ion-icon>
      Premiere
    </ion-tab-button>
    <ion-tab-button tab="popular" routerLink="/popular">
      <ion-icon name="apps-outline"></ion-icon>
      Popular
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/search">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
